button, .btn {
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: $primary-font;
  border: 1px solid $primary;
  background: $primary;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  line-height: normal;
}

.btn:hover, .btn:focus, button:hover, button:focus {
  background: darken($primary, 10%);
}

button.secondary, .btn.secondary {
  background: $secondary;
  color: $primary;
    border-color: $primary;
}

button[disabled], .btn[disabled] {
  background: $border;
  color: #aaa;
  border-color: $border;
  cursor: not-allowed;
}
