input, textarea, select {
  border: 1px solid $border;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  width: 100%;
}

label {
  font-weight: 500;
  margin-bottom: 0.3em;
  display: block;
}
