input, textarea, select {
  border: 1px solid $border;
  padding: 0.5em;
  font-size: 1rem;
  width: 100%;
  color: $primary;
  font-family: $primary-font;
  cursor: pointer;
  background-color: transparent;
}

label {
  font-weight: 500;
  margin-bottom: 0.3em;
  display: block;
}
